CONFIG_BOOTCOMMAND="bootflow scan -b"
CONFIG_PREBOOT="pci enum; usb start; "
CONFIG_PREBOOT_DEFINED=y
CONFIG_CMD_SYSBOOT=y
CONFIG_BOOTSTD_FULL=y
CONFIG_CMD_BOOTDEV=y
CONFIG_CMD_BOOTFLOW=y
CONFIG_CMD_BOOTFLOW_FULL=y
CONFIG_CMD_BOOTMETH=y
CONFIG_CMD_NVME=y
CONFIG_NVME=y
CONFIG_NVME_PCI=y
CONFIG_FASTBOOT_BUF_ADDR=0x3000000
CONFIG_FASTBOOT_BUF_SIZE=0x1000000
